/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  font-family: "Work Sans";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  overflow-wrap: break-word;
  padding: 1rem 1rem;
}

/* General */
h1,
h3 {
  color: hsl(292, 42%, 14%);
}

p {
  font-size: 16px;
  color: hsl(292, 16%, 49%);
}

/* Container */
.container {
  border: 2px red solid;
  max-width: 750px;
  margin-inline: auto;
  margin-top: 10rem;
  width: 50%;
}

/* effect */

.collapsible__heading:hover {
  cursor: pointer;
  color: hsl(293, 71%, 48%);
}

/* Header */

header {
  display: flex;
}

.star{
  margin: 0 5px 0 16px;
  align-items: center;
  width: 30px;
}

/* Collapsibles */

h3 {
  overflow: hidden;
  flex: 1;
}

button {
  align-self: center;
  background-image: url(/faq-accordion/assets/images/icon-plus.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border: none; 
  height: 35px;
  outline: 0;
  padding: 0; 
  width: 35px;
}

.collapsible {
  border-top: 1px solid #ccc;
}

.collapsible:first-of-type {
  border-top: none;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}